@{
    ViewBag.Title = "Home Page";
}

<div class="col-12">
    <p>
        <h1> Esto es un ejemplo:</h1>
    </p>
    <p>Aquí mostramos como se reflejan los cambios en el código.</p>
    <p>Añado una línea</p>
    
    
</div>
